#front {
	background: #FEFEFE;
	margin-top: 60px;
}

#front .infos {
	position: fixed;
	bottom: 0;
	background: #900;
	color: #FFF;
	line-height: 30px;
	height: 30px;
	right: 0;
	padding: 0 10px;
}

#front .page-title {
	text-align: center;
	color: #f00;
}

#front .connected-user {
	color: #fff;
}
