body#front {
	background-position: center 135px;
	margin-top: 135px;
	background-size: cover;
}

/*
 Partie NavBar
*/
#front .navbar {
		height: 135px;
		margin: 0;
		padding: 0;
}

#front .navbar-nav .user-avatar {
	height: 30px;
}

#front .navbar .navbar-link a {
	text-align: center;
}

#front .connexion {
	text-align: center;
	display: block;
	width: 107px;
	height: 124px;
	padding-top: 35px;
}

#front .nopadding {
	padding: 0 !important;
}

#front .nopaddingbottom {
	padding-bottom: 0 !important;
}

#front .nopaddingtop {
	padding-top: 0 !important;
}

#front .padding10bottom {
	padding-bottom: 10px;
}

#front .nomargin {
	margin: 0 !important;
}

#front .nomarginbottom {
	margin-bottom: 0 !important;
}

#front .nomargintop {
	margin-top: 0 !important;
}

#front .connexion a, #front .connexion a:hover, #front .connexion a:active, #front .connexion a:focus {
	text-decoration: none;
}

#front .navbar-nav.menuprincipal li{
	margin: 0 7%;
}

#front a.link, #front a.link:hover {
	text-align: center;
	display: block;
	width: 100%;
	white-space: nowrap;
	text-decoration: none;
}

#front .link img {
	margin-bottom: 7px;
}
/*
Général
*/
#front .widget-gallery .img img {
	width: 100%;
	height: 300px;
}

#front .principal {
	padding: 0;
	margin-top: 380px;
	margin-bottom: 5%;
	padding-bottom: 0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=45, Strength=10);
}

#front .contactus-widget {
	width: 50%;
	margin: 7% auto;
	text-align: center;
}

#front .contact_us_page #contactus_widget {
	width: 75%;
	margin-top: 0;
}

#front .contact_us_page {
	border-right: 1px solid #ffa928;
	margin-bottom: 50px;
}

#front .contactus_info {
	width: 75%;
	margin: 0 auto;
}
	

#front .contact_us_page #submit {
	background-color: #ffa928;
    background-image: none;
	color: #fff;
}

#front .contact_us_page #submit:hover {
	background-color: #fff;
    background-image: none;
	color: #ffa928;
	border: 1px solid #ffa928;
}

#front .page-title .small {
	font-size: 60%;
}

/* alert */
.alert {
	margin-top : 1rem;
}

#front .bg-full-screen  {
	background-size: cover !important;
}

#front #bloc_texte_accueil {
	margin-top: 5%;
	margin-left: 15%;
	width: 17%;
}

#front #bloc_texte_accueil .image {
	text-align: center;
}

#front #bloc_texte_accueil .text {
	text-align: center;
}

#front #bloc_texte_accueil .text .small {
	text-align: center;
}

#front #avantages, #front #ccm, #front #event {
	padding-top: 80px;
	padding-bottom: 80px;
}

#front #avantages h2 {
	text-align: center;
	text-transform: uppercase;
}

#front #avantages hr {
	width: 7%;
	height: 3px;
}

#front #avantages .category_gallery {
	margin-top: 40px;
}

#front #avantages .category_gallery .category {
	margin-bottom: 30px;
}

#front .partner-show-button {
	display: block;
}

#front #ccm .slogan {
	text-align: center;
}

#front #ccm .savoirplus {
	text-align: center;
	margin-top: 20px;
}

#front #event h2 {
	text-align: center;
}

#front #event hr.title {
	border: none;
	width: 7%;
	height: 3px;
}

#front #event .small {
	text-align: center;
}

#front #event #partners_gallery_widget .partner_gallery {
	margin-top: 40px;
}

#front #event #partners_gallery_widget .partner {
	padding: 0;
	margin: 0 10px;
}

#front #event #partners_gallery_widget .partner-name {
	padding: 5px;
	text-align: center;
}

#front #event #partners_gallery_widget .small {
	padding: 15px;
	text-align: center;
}

#front #event #partners_gallery_widget a, #front #event #partners_gallery_widget a:hover {
	text-decoration: none;
}

#front #event #partners_gallery_widget .small hr {
	width: 30px;
	margin: 5px auto;
}

#front #event #partners_gallery_widget .partner-show-button {
	padding: 5px;
	display: block;
	text-align: center;
}

#front.newsletters .table a:hover {
	font-weight: bold;
}

#front #icons {
	text-align: center;
}

#front .page-title {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 80px;
	text-transform: uppercase;
}

#front .page-title hr {
	width: 10%;
	height: 4px;
}

#front .table {
	border-top: none;
}

#front .table td {
	border-top: none;
}

#footer1 {
	padding-top: 40px;
	padding-bottom: 80px;
}

#footer1 .icons a, #footer1 .icons a:hover, #footer1 .icons a:focus, #footer1 .icons a:active {
	text-decoration: none;
}

#footer2 a, #footer2 a:hover, #footer2 a:focus, #footer2 a:active {
	text-decoration: none;
}

#footer1 .col-lg-3 {
	text-align: center;
}

#footer2 a {
	display: block;
}

#footer2 {
	padding: 10px;
}

#footer2 .copyright a, #footer2 .copyright a:hover, #footer2 .copyright a:focus, #footer2 .copyright a:active {
	text-decoration: none;
}

#footer2 .social a, #footer2 .social a:focus, #footer2 .social a:active {
	text-decoration: none;
	font-size: 25px;
}

#footer2 .copyright {
	margin-top: 40px;
	text-align: left;
}

#footer2 .social {
	margin-top: 40px;
	text-align: right;
}

#footer2 .social a, #footer2 .social a:focus, #footer2 .social a:active {
	display: block;
	float: right;
	text-align: center;
	width: 50px;
}

#front .contactus-widget {
	text-align: center;
}

#front .contactus-widget h2 {
	text-align: center;
}

/*
 Partie profil
*/
/* Général */

	#front .underline-page-title {
		width: 50%;
	}

	#front .all-box {
		padding: 0 20%;
	}

	/* header */

	#front .box-header {
		text-align: center;
		margin-top : 1.5%;
	}

	/* Corps */
	#front .information-title{
		text-align: center;
		margin-top : 2rem;
	}

	#front .button-edit-position {
		text-align: center;
		margin : 5% 0;
	}

	#front .button-edit {
		text-align: center;
		padding: 1% 2%;
		margin : 0 auto;
	}

	#front .button-edit:hover {
		text-decoration: none;
	}
	/* Boutton déconnexion*/

	.buttonDeconnect  {
		text-align: center;
		padding: 1% 2%;
		margin : 0 auto;
	}

	.buttonDeconnect:hover {
		text-decoration: none;
	}

	.button-deconnect {
		text-align: center;
		margin-bottom: 3%;
		margin-top : 2%;
	}

	#cockpit .alert {
    margin-bottom: 0px;
    margin-top: 1rem;
}

/* FAQ */

#front .question-faq{
	text-transform: uppercase;
}

#front .contener-each-faq{
	margin: 3% 0;
}

#front .answer-faq{
	margin : 5%;
	text-indent: 50px;
	text-align: justify;
}

#front .question-faq{
	size:2rem;
	text-indent: 15px;
}

#front .underline-faq{
	height: 1px  ;
}

/* Events */
#front .event {
	margin-bottom: 40px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}

#front .event .card_title {
	color: #3c8dbc;
}

#front .event .card_description, #front .event .card_title {
	padding: 0 20px;
}

#front .event .event-description {
	margin-bottom: 3px;
}

#front .event i {
	color: #ffae38;
}
#front .event .event-date {
	margin-bottom: 3px;
}

#front .event .event-place {
	margin-bottom: 3px;
}

#front .event-show {
	margin-bottom: 30px;
}

/* Sous menu */

#front .dropdown-menu{
	display:none;
	z-index: 0;
}

#front .dropdown-item{
	width: auto;
}

 #front .sub-menu {
	list-style-type:none;
	position: fixed;
	top:117px;
	width:100%;
	margin : 0;
	padding:0;
	left: 0;
	border-radius: 0;
	height: 60px;
	line-height: 38px;
}

#front .menu-item:hover .dropdown-menu{
	display : inline-block;
}

#front .sub-menu> a {
	display: inline-block;
	padding: 10px;
	margin:0 !important;
	text-decoration: none;
}

#front .arrow-menu {
	position: fixed;
	top:93px;
	display:none;
}

#front .menu-item:hover .arrow-menu {
	display : inline-block;
}

#front .arrow-position {
	text-align: center;
	margin: 0;
	padding:0;
	width: 100%
}


/* Menu connexion/déconnexion */

#front .hidden-menu{
	width: 107px;
	position: absolute;
	text-align: center;
	padding: 10px 0 5px 0 ;
	margin-top: -13px;
}

#front .hidden-menu li {
	margin: 5px 0;
}

#front .hidden-menu-contner {
	position: relative;
}




/* Messages */
#front .conversation-show .conversation {
    padding: 0 15px;
}

#front .conversation a {
    text-decoration: none;
}

#front .conversation-header {
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
	margin-bottom: 15px;
    text-decoration: none !important;
}

#front .conversation-icon, #front .message-icon {
	margin: 0 1em 0 0;
}

#front  .conversation-unread-count {
    display: inline-block;
    vertical-align: middle;
    padding: 0.2em 0 0 0.4em;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
}

#front  .message {
    margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;
}

#front .message.me {
    /*padding-left: 40px;*/
	border-radius: 5px;
}

#front  .message.other {
	border-radius: 5px;
}

#front  .message-datetime {
    margin-right: 10px;
}

#front  .message-content {
    margin-top: 5px;
    white-space: pre-wrap;
}

#front .message-remove {
    font-size: 0.7rem;
}

/* Widget/PA */

#front .slide-events-event {
	display:inline-block;
}

#front .representants-gallery-event {
    display: inline-block;
}

#front .slide-events-content, #front .representants-gallery-content {
	margin:50px 15px;
	border : 1px solid #d0d0d0;
	padding: 0;
	padding-bottom: 15px;
	text-align: center;
	background-color: #fff;
}

#front .slide-events-event-text{
	text-decoration: none;
	color: #000;
}

#front .slide-events-event-text:hover{
	text-decoration: none;
	color: #000;
}

#front .slide-events-event hr {
	width: 30%;
	margin : 5px auto;
	margin-bottom: 10px;
}

.slide-events-event-title {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
}

.slide-events-event-date{
	font-size: 0.9rem ;
}

.slide-events-event-accroche{
	font-size: 0.8rem ;
}

/* widget partenaires */

#front .partners-gallery-event {
	display:inline-block;
	margin:50px 0;
}

#front .partner-gallery-content {
	border : 1px solid #d0d0d0;
	padding: 20px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #fff;
}

#front .partner-logo-image {
	padding-bottom: 15px;
}

#front .partner-go {
	background: #fee58b !important;
}

#front .partner-show-button {
	background: #fee58b ;
	padding: 15px;
	color: #000;
	text-decoration: none;
}

#front .button-partner-go {
	width: 75%;
	margin : 0 auto;
	padding-bottom: 25px;
}

#front .partner-go-link{
	background: #ffa928;
	color: #fff;
	padding: 10px 25px;
	text-decoration: none;
}

#front .articlecategories {
	margin-bottom: 30px;
}

#front .articlecategories a {
	margin: 0 10px 0 10px;
}

#front .articles .article {
	padding: 15px;
	margin-bottom: 30px;
}

#front .articles .article .article-read-more {
	text-align: right;
}

#front .articles.show .article-author {
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 30px;
}

#front .articles.show .article-author span {
	font-weight: bold;
}

#front .articles.show .article-category {
	font-style: italic;
	margin-bottom: 30px;
}

#front .partner-link-reduc {
	text-decoration: none;
}

