body {
	background: #FEFEFE;
	margin-top: 60px;
}

.btn {
	margin: 0 1px;
}

.infos {
	position: fixed;
	bottom: 0;
	background: #900;
	color: #FFF;
	line-height: 30px;
	height: 30px;
	right: 0;
	padding: 0 10px;
}

#cockpit .nav-menu-left {
	margin-top: 40px;
}